@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
}

.neon {
    font-family: 'Pacifico', cursive;
    font-size: 4em;
    color: white;
    animation: neon 5s infinite;
}

@keyframes neon {
    0%, 39%, 41%, 59%, 61%, 100% {
        text-shadow: 
        white 0 0 12px,
        #ff3aad 0 0 24px,
        #ff3aad 0 0 36px;
        
    }
    40%, 60% {
        text-shadow: none;
    }
}


.cart {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.cartAmount {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

.card {
    margin: 15px 15px;
}